@import "../../styles/partials/__colors";
@import "../../styles/partials/__fonts";

.Upcoming{
    &__title{
        color: $primary3;
        margin: 0;
        font-family: Avenir;
        font-size: 1rem;
        text-align: left;
        font-weight: 400;
        padding-left: 1rem;
    }
    &__list-item{
        display: flex;
        height: 15vh;
        padding-left: 1rem;
        margin-top:1rem;
          }
    &__list-image{
        width: 30vw;
        height: 15vw;
        object-fit: cover;
        border-radius: 4px;
        }
    &__list-item-info{
        width: 60vw;
        font-size: .5rem;
    }

}