@import "../../styles/partials/__colors";
@import "../../styles/partials/__fonts";

.Upcoming{
    &__title{
        color: $primary3;
        margin: 0;
        font-family: Avenir;
        font-size: 1rem;
        text-align: left;
        font-weight: 400;
        padding-left: 1rem;
    }
    &__list-item{
        display: flex;
        width: 100vw;
        height: 15vh;
    }
    &__list-item-info{
        width: 30vw;
        font-size: .5rem;
    }
    &__list-image-container{
        padding-left: 1rem;
    }
    &__list-image{
        width: 35vw;
    }
}