@import "../../styles/partials/_colors";
@import "../../styles/partials/_fonts";
@import "../../styles/partials/_mixins";

.Upcoming{
    @include desktop{
        border-left: 1px solid $secondary3;
    }
    &__link{
        text-decoration: none;
    }
    &__title{
        @include avenir-styling;
        color: $primary3;
        margin: 0;
        padding-left: 1rem;
        padding-top: .5rem;
    }
    &__list-item{
        display: flex;
        padding-left: 1rem;
        margin-top:1rem;
        @include tablet{
            width: 35vw;
        }
          }
    &__display-none{
    display: none;
}
    &__list-image{
        width: 30vw;
        height: 15vw;
        object-fit: cover;
        border-radius: 4px;
        @include tablet{
            width: 15vw;
            height: 7.5vw;
        }
        }
    &__list-image-container{
        align-self: center;
    }
    &__list-item-info{
        width: 60vw;
        font-family: "Avenir";
        font-size: .75rem;
        display: flex;
        flex-direction: column;
        text-align: left;
        padding-left: .5rem;
        }
    &__list-item-channel{
        font-family: "Avenir";
        font-weight: 400;
        margin: 0;    }

}