@font-face {
    font-family: "Avenir";
    font-weight: 400;
    src: url("../../Assets/Font/AvenirNextLTPro-Regular.otf") format("opentype"),
}

@font-face{
    font-family: "Avenir";
    font-weight: 700;
    src: url("../../Assets/Font/AvenirNextLTPro-Bold.otf")
}