
@import "../../styles/partials/_colors";
@import "../../styles/partials/_mixins";

.hero {
    display: flex;
    justify-content: center;
    margin: 16px 0;
  
    &__video {
      width: 100%;
      background-color: $primary1;

      @include tablet {
        max-height: 330px
      }
  
      @include desktop {
        max-height: 600px
      }
  
    }
  }