@import "../../styles/partials/_colors";
@import "../../styles/partials/_fonts";
@import "../../styles/partials/_mixins";

.Header{
    font-family: Avenir;
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
    @include tablet{
        flex-direction: row;
    }
    @include desktop{
        padding-left: 6rem;
        padding-right: 6rem;
        justify-content: space-between;
        border-bottom: 1px solid $secondary3;

    }
    &__logo{
        align-self: center;

    }
    &__searchbox{
        width: 70vw;
        padding-top: .5rem;
        padding-bottom: .5rem;
        background-image: url("../../Assets/Icons/search.svg");
        background-repeat: no-repeat;
        background-position: left;
        padding-left: 2rem;
        outline:none;
        background-color: $primary4;
        border: 1px solid $secondary3;
        &:active,
        &:focus,
        &:focus-visible{
            outline: 1px solid $primary2;
        }
        @include tablet{
            width: 40vw;
            }
        @include desktop{
            width: 20vw;
        }
    }
    &__container{
        display: flex;
        flex-direction: column;
        @include tablet{
            flex-direction: row;
        }
    }
    &__search-div{
        display:flex;
        margin-top: 1rem;
        margin-bottom:1rem;
        align-self: center;
        @include tablet{
            padding-left: 4rem;
            padding-right: 1rem;
        }
        @include desktop{
            align-self:right;
        }
    }

    &__profile-pic{
        width: 2rem;
        height: 2rem;
        border-radius:50%;
        margin-left:.5rem;
        @include tablet{
            display: none;
        }
    }
    &__profile-pic-tablet{
        width: 2rem;
        height: 2rem;
        border-radius:50%;
        display: none;
        @include tablet{
            display: inline;
            align-self: center;
        }
    }
    &__button{
        @include button-styling;
        align-self:center;
        width: 80vw;
        position: relative;
        padding-top: .5rem;
        padding-bottom: .5rem;
        @include tablet{
            width: 20vw;
            margin-right: 1rem;
        }
        @include desktop{
            width: 15vw;
        }
    }
    &__button-link{
        align-self: center;
    }
    &__button:hover{
        background-color: $secondary2;
    }
    &__button-icon{
        @include button-icon-styling}
}