@import "../../styles/partials/_colors";
@import "../../styles/partials/_fonts";
@import "../../styles/partials/_mixins";

.videos{
    &__info{
        display: flex;
        padding-left: 1rem;
        padding-right: 1rem;
        flex-direction: column;
        font-family: avenir;
        @include desktop{
            margin-left: auto;
            width: 50vw;
        }

    }
    &__title{
        font-family: Avenir;
        font-weight: 700;
        text-align: left;
        font-size: 1.5rem;
    }
    &__stats-container{
        display: flex;
        justify-content: space-around;
        border-top: 1px solid $secondary3;
        border-bottom: 1px solid $secondary3;
        @include tablet{
            flex-direction: row;
            justify-content: space-between;
            border-top: none;
        }
    }
    &__author-date-container{
        display: flex;
        flex-direction: column;
        @include tablet{
            flex-direction: row;
        }
    }
    &__author{
        @include tablet{
            margin-right: 1rem;
        }
    }
    &__date{
        @include tablet{
            margin-left: 1rem;
        }
    }
    &__views-likes-container{
        display: flex;
        flex-direction:column;
        @include tablet{
            flex-direction: row;
            justify-content: space-evenly;
        }
    }
    &__views{
        margin-right: 1rem;
    }
    &__likes{
        margin-left: 1rem;
    }
    &__author{
        font-weight: 700;
    }
    &__date{
        color: $primary3;
    }
    &__likes{
        color: $primary3;
    }
    &__views{
        color:$primary3;
    }
    &__description{
        text-align: left;
        font-family: avenir;
        font-size: .75rem;
        line-height: 1.1rem;
        font-weight: 400;
    }
}