@import "../../styles/partials/__colors";
@import "../../styles/partials/__fonts";
@import "../../styles/partials/_mixins";

.Comments{
    display: flex;
    @include desktop{
        margin-left: auto;
        width:50vw;
    }
    &__count{
        color:$primary1;
        margin: 0;
        font-size: 1rem;
        padding-left: 1rem;
        padding-bottom: 1rem;
        text-align: left;}
    &__title{
        color: $primary3;
        margin: 0;
        font-family: Avenir;
        font-size: 1rem;
        text-align: left;
    }
    &__container{
        display: flex;
        padding-right: 1rem;
        padding-left: 1rem;
        @include tablet{
            width: 100%;
        }
    }
    &__text-container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left:1rem;
        margin-right: 1rem;
        @include tablet{
         flex-direction: row;   
        }
    }
    &__profile-pic{
        width: 2.5rem;
        height: 2.5rem;
        border-radius:50%;
        margin-top:2rem;}
    &__text-area{
        width: 70vw;
        background-color: $secondary4;
        border: 1px solid $secondary3;
        border-radius: 4px;
        margin-bottom:.5rem;
        @include desktop{
            width: 30vw;
        }
    }
    &__button{
        width: 10rem;
        background-color: $primary2;
        color: $primary4;
        font-family: Avenir;
        font-weight: 700;
        border: none;
        border-radius: 4px;
        position: relative;
        padding-top: .5rem;
        padding-bottom: .5rem;
        margin-bottom: .5rem;
        background-image: url('../../Assets/Icons/add_comment.svg');
        background-repeat: no-repeat;
        background-position: bottom 8px left 10px;
        @include tablet{
            align-self: center;
            margin-left: 1rem;}
    }
    &__button:hover{
        background-color: $secondary2;
    }
    &__button-icon{
        position: absolute;
        left: 1rem;
        bottom:.25rem;    }
    &__profile-circle-container{
        padding-top: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    &__profile-circle{
        width: 2rem;
        height:2rem;
        align-self: center;
        background-color: $secondary3;
        border-radius:50%;
    }
    &__container{
        border-bottom: 1px solid $secondary3;
        display: flex;
    }
    &__info-container{
        display: flex;
        flex-direction: column;
        padding: .5rem;
        font-family: Avenir;
    }
    &__comment-header{
        display: flex;
        justify-content: space-between;
        text-align: left;
    }
    &__content-container{
        display:flex;
        text-align: left;
    }
    &__comment-name{
        font-weight: 700;
    }
    &__comment-date{
        color: $primary3;
    }
    }